<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appli_test</title>
</head>
<body>
    <form action="/" method="post">
        <label for="name" id="name_label">Nom</label>
        <input type="text" name="name" id="name_input">
        <label for="firstName" id="firstName_label">Prénom</label>
        <input type="text" name="firstName" id="firstName_input">
        <button type="submit">Envoyer</button>
    </form>
</body>
</html>